*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #71480d, #e3890b);
}

.calculator{
    background-color: #252525;
    width: 375px;
    height: 568px;
    border-radius: 35px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    box-shadow: 0px 10px 20px #060606
}

input{
    font-size: 48px;
    background-color: #252525;
    border: none;
    outline: none;
    text-align: right;
    padding-top: 50px;
    color: #eeeeee;
    grid-row: 1/3;
    grid-column: 1/5;
}

button{
    font-size: 24px;
    border: none;
    margin: 7px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #252525;
}

button img.icon{
    width: 30px;
    height: 30px;
}

button:hover{
    opacity: 0.7;
}

.orange-font-btn{
    color: #f4742a;
}

.white-font-btn{
    color: #eeeeee;
}

.white-font-equal-btn{
    color: #eeeeee;
    background-color: #f4742a;
}